.carousel-1{
    height: 450px;
    background-image: url(../images/banner-programacion.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
   
}


.carousel-2{
    @extend.carousel-1;
    background-image: url(../images/diseño-banner.jpg);
        
}

.carousel-3{
    @extend.carousel-1;
    background-image: url(../images/banner-office.jpg);
   
}


.carousel-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 25px;
    height: 400px;
    text-align: center;

    p{
        color: white;
        font-size: 25px;
    }
}

.btn-success{
    
    width: 400px;
    margin-left: 350px;
    &:hover{
    background-color:red ;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

