.carousel-1{
    height: 400px;
    background-image: url(../images/banner-programacion.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.carousel-2{
    height: 400px;
    background-image: url(../images/diseño-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.carousel-3{
    height: 400px;
    background-image: url(../images/banner-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}