
.cursos{
    height: 700px;
        
}





.btn-primary{
    margin-top: 10px;
    background: rgb(0,102,241);
    background: linear-gradient(90deg, rgba(0,102,241,1) 0%, rgba(19,53,167,1) 95%);
    border: none;
    &:hover{
        background: rgb(82,241,0);
        background: linear-gradient(90deg, rgba(82,241,0,1) 0%, rgba(45,162,2,1) 100%);
    }
}


.card{
    height: 684px;
    border-radius: 8px;
    img{
        border-radius: 8px;
       }
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}



