$color_header:#3e3a3a;
$hover : white;

header{
    background-color:$color_header;
    
    img{
        margin-left: 70px;
    }
}

.navbar-collapse{
    justify-content: flex-end;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  

    ul{
        margin-right: 50px;
    
    }
}

.nav-link-color {
    color:#4bf6fb;
    text-decoration: none;
    padding: 25px;
    &:hover {
       color: $hover;
    } 
}

.btn-info{
    width: 300px;
    margin-left: 170px;
}

