$header:(
    fondo: #3e3a3a,
    hover: white,
    letra: 'Gill Sans MT',
    tamaño: 20px,
    navColor: #4bf6fb 
);

header{
    z-index: 100;
    background-color:map-get($header , fondo );
    position: sticky;
    top: 0;
    
    img{
        margin-left: 70px;
    }
}

.navbar-collapse{
    justify-content: flex-end;
    font-size: map-get($header,tamaño);
    font-family: map-get($header, letra); 

    ul{
        margin-right: 50px;
    
    }
}

.nav-link-color {
    color:map-get($header, navColor );
    text-decoration: none;
    padding: 25px;
    &:hover {
       color: map-get($header, hover );
    } 
}

.btn-info{
    width: 300px;
    margin-left: 170px;
}

