$negro :black;
$blanco : rgb(49, 238, 238);

.parallax{
    background-image: url(../images/parallax.jpg);
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;

    a{
        text-decoration: none;
        color: $negro;
    }

 }

 .texto{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 430px;

    p{
        font-size: 20px;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
     
 }

 .texto_parallax_1 {
    color: #e9f1f1;
    font-size: 45px;
    
 }

 .texto_parallax_2 {
    color: #4bf6fb;
    font-size: 40px;
 }

 .btn-info{
   margin-left: 150px;
   &:hover{
      background: rgb(249, 249, 249);
   }
}

 