
.principal{
    background: rgb(212,216,221);
    background: linear-gradient(90deg, rgba(212,216,221,1) 0%, rgba(108,99,99,0.9783263647255778) 100%);
    
}

.principal_caja{
    align-items: center;
   
    height: 500px;
    text-align: center;

    img{
        height: 200px;
        width:200px;
    }
 }