@media only screen and (max-width: 992px){
    .navbar-collapse{
        font-size: 17px;
    }

    .texto_parallax_1 {
        font-size: 40px;
    }

    .texto_parallax_2 {
        font-size: 33px;
    }

    .btn-info {
        margin-left: 100px;
    }

    .principal{
        height: 600px;
    }

    .tarjetas{
        height: 800px;
    }
    .card{
        height: 800px;
    }

    .btn-success {
        margin-left: 300px;
    }

    .duda{
        height: 650px;
    }

    .descuento{
        height: 680px;
    }
    .descuento1{
        margin-top: 30px;
    }

    .descuento2{
        width: 480px;
    }

    


}




@media only screen and (max-width: 768px){
    
    .btn:focus, a:focus
    {
         outline: none;
    }


    .navbar-toggler:focus
    {
         outline: none !important;
         box-shadow: none;
    }
   

    .parallax{
        height: 500px;
    }


    .texto_parallax_1 {
        color: white;
        font-size: 30px;
        
     }
    .texto_parallax_2 {
        color: rgb(251, 229, 29);
        font-size: 35px;
        
     }

    .btn-info{
        margin-left: 30px;
        background-color:  rgb(251, 229, 29);
    }

    .btn-success{
        margin-left: 150px;
    }

    .principal{
        height: 700px;
        p{
            text-align: center;
        }  
    }


    .cursos{
        
        p{
            text-align: center;
        }
    }

    .tarjetas{
        height: 700px;
    }

 
    
    

    

    .texto_parallax_formulario{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 440px;
        padding: 25px;
    
        p{
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
            text-align: justify;
    
        }

        h1{
            font-size: 35px;
            text-align: center;
        }
        
     }

     .duda{
        height: 620px;
     }
   

    .parallax_formulario{
        height: 600px;
    }

    .descuento{
        height: 900px;
    }

    .descuento1{
        margin-top: 30px;
    }

    .descuento2{
        width: 350px;
        height: 650px;
    }

    .card{
        height: 700px;
        
    }

    .somos{
        height: 850px;
    }

    .somos1{
        margin-top: 20px;
    }

   
    
}

@media only screen and (max-width: 576px){
    

    .parallax{
        height: 800px;
        
    }

    .navbar-collapse{
        z-index: 100;
    }

    .navbar-toggler{
        margin-right: 40px;
    }

    .btn-info{
        margin-left: 120px;
    }

    .texto{
        p{
            text-align: center;
            font-size: 20px;
            padding-right: 25px;
        }
    }

    .principal{
        height: 1500px;
    }

   

    .carousel-items{
        p{
            font-size: 18px;
        }
    }

    .duda{
        height: 1250px;
     }

    .descuento{
        height: 1400px;
    }

    .descuento1{
        margin-top: 30px;
    }

    .descuento2{
        width: 550px;
        margin-left: 10px;
    }


    .somos{
        height: 1550px;
    }


    .parallax_formulario{
        height: 1300px;
    }

    .texto_parallax_formulario {
        margin-bottom: 150px;
       p{
        text-align: center;
       }
    }

    .formulario-parallax{
        margin-bottom: 80px;
        border-radius: 8px;
        height: 500px;
    }



   

    
    .parallax{
        height: 730px;
    }

    .texto_imagen img{
        height: 300px;
    }

    .texto{
        margin-left: 20px;
        height: 400px;
    }

   

    .tarjetas{
        flex-direction: column;
        justify-content: space-evenly;
        height: 850px;
        
        
    }

    .card{
        height: 820px;
        
    }
   
    .row-footer{
        flex-direction: column;
        height: 120px;
        justify-content: stretch;
    }

    .parallax_formulario{
        height: 900px;
        flex-direction: column;
        justify-content: space-around;

    
    }

    .texto_parallax_formulario {
        height: 250px;
        font-size: 20px;
        text-align: center;
        color: white;
        width: 500px;
        margin-right: 50px;
        margin-top: 50px;

    }

    .texto_parallax_formulario p {
        padding: 5px;
        font-size: 25px;

    }


    .formulario_detalle{
        margin-right: 100px;
        width: 400px;
    }

    .formulario_detalle label{
        font-size: 20px;
    }
    
    .formulario_detalle div input{
        font-size: 20px;
    }


    .btn-success{
        
        margin-left: 80px;
        
       
    }


} 



@media only screen and (max-width: 486px){
    

    .texto_parallax_1 {
        color: white;
        font-size: 30px;
        
     }
    .texto_parallax_2 {
        font-size: 30px;
        
     }

    .btn-success{
        width: 200px;
        margin-left: 150px;
    
       }
   


    .card{
        height: 450px;
        
        }
        
    .btn-info {
        margin-left: 80px;
            }

     
    .descuento{
        height: 1400px;
    }
    
   

    .descuento2 {
        
        width: 400px;
        
        }

    .tarjetas{
        height: 750px;
    
    }
    

}

@media only screen and (max-width: 320px){

    .navbar-toggler{
        margin-bottom: 25px;
    }

   .carousel-items{
    h1{
        font-size: 20px;
    }
   }

   .btn-success{
    width: 200px;
    margin-left: 50px;

   }

   .texto_imagen{

        img{
            width: 320px;
        } 
    }

    .parallax {
    height: 800px;
    }

   .btn-info {
    margin-left: -15px;
    }

    .subtitulo{
    height: 80px;
    }

    h3{
    font-size: 20px;
    }

    .principal{
    height: 1800px;
    }

    .principal_caja{
    height: 600px;
    }

    .tarjetas{
    height: 700px;
    }

    .cursos{
    height: 1500px;
    }

    .card{
    height: 690px;
    width: 280px;
    
    }

    .tarjetas{
        margin-left: 10px;
    }

    .texto_parallax_formulario h1 {
        font-size: 30px;
        text-align: center;


    }

    .texto_parallax_formulario p {
        padding: 5px;
        font-size: 20px;
    }

    .descuento{
        height: 1750px;
    }

    .descuento2 {
        width: 300px;
        
    }

    .somos{
        height: 1400px;
    }

    .somos1 h2{
        margin-top: 45px;
    }

    .somos2{
        height: 300px;
        width: 300px;
        margin-top: 10px;
    }

    .somos3{
        height: 300px;
        width: 300px;
        margin-top: 10px;
    }




}