@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 576px){
    

    .navbar-collapse{
        z-index: 100;
    }

    .navbar-toggler{
        margin-right: 40px;
    }

    .btn-info{
        margin-left: 100px;
    }

    .carousel-items{
        p{
            font-size: 18px;
        }
    }

    .descuento{
        height: 1250px;
    }

    .descuento1{
        margin-top: 30px;
    }


    .somos{
        height: 1500px;
    }




    .formulario-parallax{
        margin-top: 25px;
        border-radius: 8px;
        height: 500px;
    }



    .row{
        flex-direction: column;
    
     }

    
    .parallax{
        height: 730px;
    }

    .texto_imagen img{
        height: 300px;
    }

    .texto{
        margin-left: 20px;
        height: 400px;
    }

    .cursos{
        height: 3200px;
        max-width: 100%;
        
    }

    .tarjetas{
        flex-direction: column;
        justify-content: space-evenly;
        height: 800px;
        
    }

    .card{
        height: 800px;
    }

    .row-footer{
        flex-direction: column;
        height: 120px;
        justify-content: stretch;
    }

    .parallax_formulario{
        height: 900px;
        flex-direction: column;
        justify-content: space-around;

    
    }

    .texto_parallax_formulario {
        height: 250px;
        font-size: 20px;
        text-align: center;
        color: white;
        width: 500px;
        margin-right: 50px;
        margin-top: 50px;

    }

    .texto_parallax_formulario p {
        padding: 5px;
        font-size: 25px;

    }


    .formulario_detalle{
        margin-right: 100px;
        width: 400px;
    }

    .formulario_detalle label{
        font-size: 20px;
    }
    
    .formulario_detalle div input{
        font-size: 20px;
    }


    .btn-success{
        
        margin-left: 80px;
        
       
    }


} 
