.sobre {
    display: flex;
}

.sobre_1{
    display: flex;
    flex-direction: column;
    
    img{
        width: 700px;
        height: 500px;
    }
  
}


.sobre_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(48,69,91);
    background: linear-gradient(90deg, rgba(48,69,91,1) 0%, rgba(205,207,209,1) 0%, rgba(250,250,252,1) 100%);

    div{
        
        height: 100px;
        padding: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        text-align: justify;

    }

    h1{
        text-align: center;
    }
}

