@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  z-index: 100;
  background-color: #3e3a3a;
  position: sticky;
  top: 0;
}
header img {
  margin-left: 70px;
}

.navbar-collapse {
  justify-content: flex-end;
  font-size: 20px;
  font-family: "Gill Sans MT";
}
.navbar-collapse ul {
  margin-right: 50px;
}

.nav-link-color {
  color: #4bf6fb;
  text-decoration: none;
  padding: 25px;
}
.nav-link-color:hover {
  color: white;
}

.btn-info {
  width: 300px;
  margin-left: 170px;
}

.parallax {
  background-image: url(../images/parallax.jpg);
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.parallax a {
  text-decoration: none;
  color: black;
}

.texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 430px;
}
.texto p {
  font-size: 20px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.texto_parallax_1 {
  color: #e9f1f1;
  font-size: 45px;
}

.texto_parallax_2 {
  color: #4bf6fb;
  font-size: 40px;
}

.btn-info {
  margin-left: 150px;
}
.btn-info:hover {
  background: rgb(249, 249, 249);
}

.subtitulo {
  max-width: 100%;
  color: white;
  background: rgb(212, 216, 221);
  background: linear-gradient(90deg, rgb(212, 216, 221) 0%, rgba(37, 37, 37, 0.9671218829) 0%);
}

.antes {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  height: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.principal {
  padding: 20px;
  background: rgb(212, 216, 221);
  background: linear-gradient(90deg, rgb(212, 216, 221) 0%, rgba(108, 99, 99, 0.9783263647) 100%);
}
.principal p {
  text-align: center;
}

.principal_caja {
  align-items: center;
  height: 500px;
  text-align: center;
}
.principal_caja img {
  width: 200px;
  height: 200px;
}
.principal_caja p {
  padding: 10px;
}

.cursos {
  height: 700px;
}

.btn-primary {
  margin-top: 10px;
  background: rgb(0, 102, 241);
  background: linear-gradient(90deg, rgb(0, 102, 241) 0%, rgb(19, 53, 167) 95%);
  border: none;
}
.btn-primary:hover {
  background: rgb(82, 241, 0);
  background: linear-gradient(90deg, rgb(82, 241, 0) 0%, rgb(45, 162, 2) 100%);
}

.card {
  height: 684px;
  border-radius: 8px;
}
.card img {
  border-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.container-footer {
  max-width: 100%;
}

.row-footer {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  color: white;
  height: 70px;
  background: rgb(27, 98, 172);
  background: linear-gradient(90deg, rgb(27, 98, 172) 2%, rgba(110, 76, 203, 0.936309558) 100%, rgb(250, 250, 252) 100%);
}
.row-footer a {
  text-decoration: none;
  color: white;
}

.carousel-1, .carousel-3, .carousel-2 {
  height: 450px;
  background-image: url(../images/banner-programacion.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.carousel-2 {
  background-image: url(../images/diseño-banner.jpg);
}

.carousel-3 {
  background-image: url(../images/banner-office.jpg);
}

.carousel-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25px;
  height: 400px;
  text-align: center;
}
.carousel-items p {
  color: white;
  font-size: 25px;
}

.btn-success {
  width: 400px;
  margin-left: 350px;
}
.btn-success:hover {
  background-color: red;
}
.btn-success a {
  text-decoration: none;
  color: white;
}

.parallax_formulario {
  background-image: url(../images/parallax_formulario.jpg);
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.texto_parallax_formulario {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 440px;
  padding: 25px;
}
.texto_parallax_formulario p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.formulario-parallax {
  border-radius: 8px;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  background: rgb(48, 69, 91);
  background: linear-gradient(90deg, rgb(48, 69, 91) 0%, rgb(9, 9, 121) 30%, rgb(0, 147, 255) 100%);
  font-family: monospace;
}
.formulario-parallax label {
  font-size: 20px;
}

select {
  width: 300px;
}

.btn-light {
  text-decoration: none;
  background-color: rgb(10, 244, 127);
}
.btn-light a {
  color: black;
  text-transform: uppercase;
}

.duda {
  background: linear-gradient(90deg, rgb(82, 241, 0) 0%, rgb(92, 92, 91) 0%, rgb(74, 75, 78) 100%);
  height: 320px;
}

.dudas1 {
  height: 300px;
  background-image: url(../images/instagram.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dudas1 a {
  text-decoration: none;
  color: white;
}

.btn-1 {
  color: white;
  background-color: coral;
}
.btn-1:hover {
  background-color: red;
  color: white;
}

.dudas2 {
  height: 300px;
  background-image: url(../images/WhatApp.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dudas2 a {
  text-decoration: none;
  color: white;
}

.btn-2 {
  color: white;
  background: linear-gradient(90deg, rgb(82, 241, 0) 0%, rgb(82, 240, 0) 0%, rgb(147, 195, 47) 100%);
}
.btn-2:hover {
  background: linear-gradient(90deg, rgb(82, 241, 0) 0%, rgb(66, 180, 7) 0%, rgb(41, 110, 8) 100%);
  color: white;
}

.dudas3 {
  height: 300px;
  background-image: url(../images/telegram.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dudas3 a {
  text-decoration: none;
  color: white;
}

.btn-3 {
  color: white;
  background: linear-gradient(90deg, rgb(0, 241, 226) 0%, rgb(99, 196, 232) 0%, rgb(8, 106, 110) 100%);
}
.btn-3:hover {
  background: linear-gradient(90deg, rgb(5, 205, 221) 0%, rgb(23, 156, 148) 0%, rgb(8, 104, 110) 100%);
  color: white;
}

.dudas4 {
  height: 300px;
  background-image: url(../images/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dudas4 a {
  text-decoration: none;
  color: white;
}

.btn-4 {
  color: white;
  background: linear-gradient(90deg, rgb(11, 0, 241) 0%, rgb(99, 106, 232) 0%, rgb(21, 8, 110) 100%);
}
.btn-4:hover {
  background: linear-gradient(90deg, rgb(19, 15, 93) 0%, rgb(38, 23, 156) 0%, rgb(21, 8, 110) 100%);
  color: white;
}

.descuento {
  height: 100vh;
  background: rgb(82, 241, 0);
  background: linear-gradient(90deg, rgb(82, 241, 0) 0%, rgb(47, 53, 110) 0%, rgb(30, 32, 36) 100%);
}

.descuento1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: #00f059;
}
.descuento1 p {
  color: white;
  text-align: justify;
  padding: 15px;
}

.descuento2 {
  width: 600px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 25px;
  text-align: center;
  font-family: monospace;
  background-color: #3e3a3a;
  color: white;
  border-radius: 8px;
}
.descuento2 textarea {
  height: 200px;
}
.descuento2 input {
  height: 100px;
}

.btn-warning {
  margin-top: 20px;
  border: none;
}
.btn-warning:hover {
  background-color: green;
  color: white;
}
.btn-warning a {
  text-decoration: none;
  color: black;
}

.somos {
  height: 800px;
  background: rgb(82, 241, 0);
  background: linear-gradient(90deg, rgb(82, 241, 0) 0%, rgb(47, 53, 110) 0%, rgb(30, 32, 36) 100%);
}

.somos1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}
.somos1 h2 {
  color: #00f059;
  text-align: center;
}
.somos1 p {
  color: white;
  text-align: justify;
}

.somos2 {
  background-image: url(../images/somos2.png);
  background-repeat: no-repeat;
  border: none;
  height: 400px;
}

.somos3 {
  background-image: url(../images/somos3.png);
  height: 400px;
}

.somos4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}
.somos4 p {
  color: white;
  text-align: justify;
  padding: 25px;
}

@media only screen and (max-width: 768px) {
  .parallax {
    height: 500px;
  }
  .texto_parallax_1 {
    color: white;
    font-size: 30px;
  }
  .texto_parallax_2 {
    color: rgb(251, 229, 29);
    font-size: 35px;
  }
  .btn-info {
    margin-left: 30px;
    background-color: rgb(251, 229, 29);
  }
  .btn-success {
    margin-left: 150px;
  }
  .principal {
    height: 700px;
  }
  .principal p {
    text-align: center;
  }
  .cursos p {
    text-align: center;
  }
  .texto_parallax_formulario {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 440px;
    padding: 25px;
  }
  .texto_parallax_formulario p {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: justify;
  }
  .texto_parallax_formulario h1 {
    font-size: 35px;
    text-align: center;
  }
  .duda {
    height: 620px;
  }
  .parallax_formulario {
    height: 600px;
  }
  .descuento {
    height: 900px;
  }
  .descuento1 {
    margin-top: 30px;
  }
  .descuento2 {
    width: 350px;
    height: 650px;
  }
  .card {
    height: 700px;
  }
}
@media only screen and (max-width: 576px) {
  .parallax {
    height: 800px;
  }
  .navbar-collapse {
    z-index: 100;
  }
  .navbar-toggler {
    margin-right: 40px;
  }
  .btn-info {
    margin-left: 120px;
  }
  .texto p {
    text-align: center;
    font-size: 20px;
    padding-right: 25px;
  }
  .principal {
    height: 1500px;
  }
  .carousel-items p {
    font-size: 18px;
  }
  .duda {
    height: 1250px;
  }
  .descuento {
    height: 1300px;
  }
  .descuento1 {
    margin-top: 30px;
  }
  .descuento2 {
    width: 550px;
    margin-left: 10px;
  }
  .somos {
    height: 1500px;
  }
  .parallax_formulario {
    height: 1300px;
  }
  .texto_parallax_formulario {
    margin-bottom: 150px;
  }
  .texto_parallax_formulario p {
    text-align: center;
  }
  .formulario-parallax {
    margin-bottom: 80px;
    border-radius: 8px;
    height: 500px;
  }
  .parallax {
    height: 730px;
  }
  .texto_imagen img {
    height: 300px;
  }
  .texto {
    margin-left: 20px;
    height: 400px;
  }
  .tarjetas {
    flex-direction: column;
    justify-content: space-evenly;
    height: 800px;
  }
  .card {
    height: 800px;
  }
  .row-footer {
    flex-direction: column;
    height: 120px;
    justify-content: stretch;
  }
  .parallax_formulario {
    height: 900px;
    flex-direction: column;
    justify-content: space-around;
  }
  .texto_parallax_formulario {
    height: 250px;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 500px;
    margin-right: 50px;
    margin-top: 50px;
  }
  .texto_parallax_formulario p {
    padding: 5px;
    font-size: 25px;
  }
  .formulario_detalle {
    margin-right: 100px;
    width: 400px;
  }
  .formulario_detalle label {
    font-size: 20px;
  }
  .formulario_detalle div input {
    font-size: 20px;
  }
  .btn-success {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 486px) {
  .texto_parallax_1 {
    color: white;
    font-size: 30px;
  }
  .texto_parallax_2 {
    font-size: 30px;
  }
  .btn-success {
    width: 200px;
    margin-left: 150px;
  }
  .card {
    height: 450px;
  }
  .btn-info {
    margin-left: 80px;
  }
  .descuento {
    height: 1400px;
  }
  .descuento2 {
    width: 450px;
  }
  .tarjetas {
    height: 750px;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-toggler {
    margin-bottom: 25px;
  }
  .carousel-items h1 {
    font-size: 20px;
  }
  .btn-success {
    width: 200px;
    margin-left: 50px;
  }
  .texto_imagen img {
    width: 320px;
  }
  .parallax {
    height: 800px;
  }
  .btn-info {
    margin-left: -15px;
  }
  .subtitulo {
    height: 80px;
  }
  h3 {
    font-size: 20px;
  }
  .principal {
    height: 1800px;
  }
  .principal_caja {
    height: 600px;
  }
  .tarjetas {
    height: 700px;
  }
  .cursos {
    height: 1500px;
  }
  .card {
    height: 690px;
    width: 280px;
  }
  .tarjetas {
    margin-left: 10px;
  }
  .texto_parallax_formulario h1 {
    font-size: 30px;
    text-align: center;
  }
  .texto_parallax_formulario p {
    padding: 5px;
    font-size: 20px;
  }
  .descuento {
    height: 1750px;
  }
  .descuento2 {
    width: 300px;
  }
  .somos {
    height: 1400px;
  }
  .somos1 h2 {
    margin-top: 45px;
  }
  .somos2 {
    height: 300px;
    width: 300px;
    margin-top: 10px;
  }
  .somos3 {
    height: 300px;
    width: 300px;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
